<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>5</string>
					<key>EndingLineNumber</key>
					<string>41</string>
					<key>StartingColumnNumber</key>
					<string>5</string>
					<key>StartingLineNumber</key>
					<string>41</string>
					<key>Timestamp</key>
					<string>792415390.7562571</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ocula/Features/Profile/settings/SettingsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            iconAnimationActive: animateIcon
        )
    }</string>
				<key>trailing</key>
				<string>
}

</string>
			</dict>
			<key>title</key>
			<string>Add Delay for the Signing out alert</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>73</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>72</string>
					<key>Timestamp</key>
					<string>792503883.484727</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Ocula/Core/User Management/Auth/LoginView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>            }
            .frame(maxWidth: .infinity, alignment: .leading)
</string>
				<key>trailing</key>
				<string>            AuthPrimaryButton(
                title: "Sign In",
                isLoading: viewModel.isLoading,
</string>
			</dict>
			<key>title</key>
			<string>Add try Agin button and Learn Mor ebutton</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
