<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1009632910927-2qmu0quj97ofgnukk3oklu910mmkqefi</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow microphone access to capture your voice for debug dictation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow speech recognition so you can describe what went wrong using your voice.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LicensePlate-j9eO.ttf</string>
	</array>
</dict>
</plist>
